@import "src/app/variables.scss";
.root {
  label {
    display: block;
    margin-bottom: 4px;
  }

  select {
    height: 56px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid $gray500;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select:focus {
    outline: none;
    border-color: $success;
  }

  option {
    font-size: 16px;
    color: $gray500;
  }

  .error {
    margin-top: 2px;
    display: block;
    color: $danger;
  }
}
