@import 'src/app/variables.scss';

.root {
  height: 48px;
  border-radius: 24px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: bold;
  @include respond(pc) {
    display: inline-block;
  }

  .content {
    display: flex;
    justify-content: flex-end;
    place-items: center;
    text-align: center;

    .label {
      width: 100%;
    }

    .arrow {
      display: block;
    }
  }
}

.root:hover {
  @include respond(pc) {
    opacity: .6;
  }
}

.root:active {
  opacity:.8;
}
.root:disabled,
.root[disabled]{
  opacity: .3;
}


.primaryFill {
  background: $primary;
  color: $white;
  fill: $white;
}

.primaryOutline {
  border: 3px solid $primary;
  background: transparent;
  color: $primary;
  fill: $primary;
}

.secondaryFill {
  background: $secondary;
  color: $white;
  fill: $white;
}

.secondaryOutline {
  border: 3px solid $secondary;
  background: transparent;
  color: $secondary;
  fill: $secondary;
}
