@import "src/app/variables.scss";

.drawer {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: -40%;
  height: 40%;
  background-color: #fdfaf4;
  transition: bottom 0.3s ease;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(sp) {
    bottom: -70%;
    height: 70%;
  }

  &.open {
    bottom: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    position: relative;

    .required {
      font-size: 12px;
      color: $danger;
    }

    .textContainer {
      flex: 1;
      max-height: calc(100% - 120px);

      textarea {
        max-height: 240px;
        height: 100%;
      }
    }

    .textCounter {
      margin-top: 8px;
      color: $gray800;
    }

    .error {
      margin-top: 8px;
      color: $danger;
    }

    .horizontal {
      display: flex;
      justify-content: space-between;
    }

    .actions {
      position: absolute;
      bottom: 8px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      > button {
        min-width: 140px;
      }
    }
  }
}

.postButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $primary;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @include respond(sp) {
    bottom: 12px;
    right: 12px;
  }

  &::after {
    content: "＋";
    color: white;
    font-size: 30px;
  }
}
