@import "src/app/variables.scss";
.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    margin-top: 8px;
    text-align: center;
  }

  .terms {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type="checkbox"] {
        position: relative;
        appearance: none;
        min-width: 18px;
        height: 18px;
        outline: none;
        margin-right: 10px;

        &:before,
        &:after {
          content: "";
          position: absolute;
        }

        &:before {
          top: 50%;
          left: 50%;
          width: 18px;
          height: 18px;
          border: solid 2px $gray500;
          transform: translate(-50%, -50%) scale(1);
        }

        &:after {
          top: 4px;
          left: 35%;
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg) scale(1);
        }

        &:checked:before {
          background-color: $primary;
          border: solid 2px $primary;
        }
      }
    }

    .error {
      color: $danger;
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
